html {
    background: white;
}

.header {
    border: 1px solid black;
}

.logo {
    border: 1px solid black;
}

.links {
    border: 1px solid black;
}

.navbar {
    border: 1px solid black;
}

.nav-search {
    border: 1px solid black;
}

main {
    border: 1px solid black;

}

.cards-flex {
    border: 1px solid black;

}

.cards {
    border: 1px solid black;

}
