body {
    background: #f8f6f7;
    font-family: 'Arial', 'Helvetica', sans-serif;    
}


.header {
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    position: fixed;
}

.logo {
    margin-left: 6.125rem;
    font-weight: bold;
    padding: .3125rem;
}

.color1 {
    font-size: 1.875rem;
    font-style: bold;
    font-weight: 900;
    color: #f35926;

}

.color2 {
    font-size: 1.875rem;
    font-style: bold;
    font-weight: 900;
    color: #fcb929;

}

.color3 {
    font-size: 1.875rem;
    font-style: bold;
    font-weight: 900;
    color: #00b049;

}

.links {
    padding: .625rem;
    margin-right: 6.125rem;
    
}

.links a {
    margin-right: 1.875rem;
}

.navbar {
    display: flex;
    padding: 6.25rem;
    border: 1px solid black;
    background-image: url('../img/barcos.webp');
    background-size: cover;
    background-position: center;
    height: 18.75rem;
}

.nav-search {
    width: 100%; 
    padding: 2.25rem;
    border: 1px solid black;
    background: white;
    border-radius: 4px ;
}

main {
    margin: 10px;
    margin-right: 6.125rem;
    margin-left: 6.125rem;
}

.cards-flex {
    flex-flow: row wrap;
    display: flex;
	flex-direction: row; /* Não precisa, já que o flex cria uma linha por padrão */
	/* flex-flow: row wrap; */ /* Faz a mesma coisa que wrap e direction */
	row-gap: 25px;
	column-gap: 25px;
	/* gap: 25px */ /* Sintaxe: <row-gap> <column-gap> */
	margin-bottom: 1rem;
}

.cards-flex div {
    flex: 12.5rem;
}

.cards {
    border: 1px solid black;
    color: white;
    padding: .5em;
	background: white;
	border-top: 2px solid #bababa;
	border-radius: 5px;
	height: 15.75rem; /* Teste sem altura fixa */
    background-repeat: no-repeat;
    
}

.card1 {
    background-image: url('../img/rio.webp');
    width: 100%;
}

.card2 {
    background-image: url('../img/bonito.webp');

}

.card3 {
    background-image: url('../img/sao-paulo.webp');

}

.card4 {
    background-image: url('../img/foz.webp');

}

.card5 {
    background-image: url('../img/maceio.webp');

}

.card6 {
    background-image: url('../img/salvador.webp');

}

.card7 {
    background-image: url('../img/fortaleza.webp');

}

.card8 {
    background-image: url('../img/belo-horizonte.webp');

}

/* em {
    font-size: 1.875rem;
    font-style: bold;
    font-weight: 900;
}

em:nth-child(1){
    color: #f35926;
}

em:nth-child(2){
    color: #fcb929;
}

em:nth-child(3){
    color: #00b049;
} */